.footer__inner
  .footer__brand
    %h1.footer__title-area
      = image_tag 'grayish_logo.svg', class: 'footer__site-logo'
      Scrambled Eng
  %p.footer__about
    Scrambled Eng は、好きなフレーズで英語を学ぶことを考えた英語学習サービスです。
    ソースコードは#{link_to('こちら', 'https://github.com/odaillyjp/scrambled_eng', target: '_blank')}で公開されています。
  %p.footer__copyright
    Maintained by #{link_to('odailly_jp', 'https://twitter.com/odailly_jp', target: '_blank')}. &copy; 2015 All rights reserved.
