$header_height: 50;
$header_break_small: 760px;

.header {
  width: 100%;
  @include rem('height', $header_height);
  background: $main_high_light_color;
}

.header__cell {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.header__box {
  box-sizing: border-box;
  float: left;
}

.header__logo-box {
  @extend .header__box;
  @include rem('padding-left', 30);
  width: 40%;

  @media screen and (max-width: $header_break_small) {
    @include rem('padding-left', 10);
    width: 80%;
  }
}

.header__site-name {
  color: $main_low_dark_color;
  @include rem('font-size', 20);
  font-weight: bold;
  vertical-align: bottom;
}

.header__site-logo {
  $logo_image_size: 36;
  border: ($logo_image_size / 14) + px solid $white_color;
  @include rem('border-radius', $logo_image_size);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  @include rem('height', $logo_image_size);
  vertical-align: middle;
  @include rem('width', $logo_image_size);
}

.header__nav-box {
  @extend .header__box;
  width: 60%;

  @media screen and (max-width: $header_break_small) {
    width: 20%;
  }
}

.header__item {
  @include rem('line-height', $header_height);
  position: relative;
}

.header__menu-link {
  display: none;

  @media screen and (max-width: $header_break_small) {
    @include rem('right', 10);
    display: block;
    position: absolute;
  }
}

.header__nav-list {
  float: right;
  display: block;

  @media screen and (max-width: $header_break_small) {
    display: none;
  }
}

.header__nav-list-item {
  float: left;
  @include rem('font-size', 14);
  font-weight: bold;
  @include rem('margin-right', 30);
  @include rem('height', $header_height);

  a {
    padding: 8px 12px;
    @include transition-duration(0.3s);

    &:hover {
      color: $main_low_dark_color;
    }
  }
}

.header__sign-in-link {
  border: solid 2px $main_medium_color;
  border-radius: 4px;

  &:hover {
    border: solid 2px $main_low_dark_color;
  }
}

.header__user-image {
  $user_image_border_radius: 6;

  @include border-radius($user_image_border_radius + px);
  @include border-radius($user_image_border_radius / 10 + rem);
  vertical-align: middle;
  @include rem('width', 40);
}

.header__dropdown-menu {
  background: $main_high_light_color;
  position: absolute;
  @include rem('right', 30);
  @include rem('top', 50);
  z-index: 5;

  &.is-hidden {
    display: none;
  }
}

.header__dropdown-item {
  @include rem('height', 30);
  line-height: normal;
  border-bottom: solid 1px $gray_color;
  @include rem('width', 120);

  a {
    display: block;
    @include rem('font-size', 14);
    @include rem('line-height', 30);
    text-align: center;
  }
}
