.challenge-form {
  @extend .article-box;
  @include rem('max-width', 420);
  @include rem('margin-top', 24);
  text-align: left;
}

.challenge-form__error-explanation-list {
  list-style-type: disc;
  @include rem('padding-bottom', 8);
  @include rem('padding-left', 36);
  @include rem('padding-right', 12);
  @include rem('padding-top', 8);
}

.challenge-form__error-explanation {
  color: $sub_medium_color;
  @include rem('font-size', 16);
  @include rem('line-height', 24);
}

.challenge-form__group {
  @include rem('padding-bottom', 16);
  @include rem('padding-left', 12);
  @include rem('padding-right', 12);
  @include rem('padding-top', 16);

  label {
    color: $main_high_dark_color;
    font-weight: bold;
  }

  .field_with_errors {
    label { color: $sub_medium_color; }
    input, textarea { border: solid 2px $sub_medium_color; }
  }
}

.challenge-form__label {
  display: block;
  @include rem('font-size', 16);
  @include rem('padding-bottom', 8);
}


.challenge-form__en-text-label {
  @extend .challenge-form__label;
}

.challenge-form__ja-text-label {
  @extend .challenge-form__label;
}

.challenge-form__en-text-form {
  @include rem('font-size', 14);
  @include rem('height', 120);
  width: 100%;
}

.challenge-form__ja-text-form {
  @include rem('font-size', 14);
  @include rem('height', 120);
  width: 100%;
}

.challenge-form__submit-challenge-button {
  @extend .btn;
  margin: 20px auto 0;
  margin: 2rem auto 0;
  width: 100%;
}
