.main-container {
  background: $main_high_light_color;
  @include rem('margin-left', $sidebar_width);
  height: 100%;
  position: relative;
}

.challenge-view {
  display: block;
  height: 100%;
  @include rem('margin-left', 48);
  @include rem('margin-right', 48);
  position: relative;
}

.challenge {
  h1, p {
    @include rem('padding-top', 12);
    @include rem('padding-bottom', 12);
    position: relative;
  }

  .challenge__title {
    @include rem('font-size', 24);
    font-weight: bold;
  }

  .challenge__ja-text {
    @include rem('font-size', 16);
  }
}

.challenge-tab-group {
  float: left;
  width: 440px;
}

.challenge-tab-item__link {
  background: #CCCCCC;
  box-shadow: inset 0 1px #fff,0 1px 3px rgba(0,0,0,0.5);
  cursor: pointer;
  float: left;
  display: block;
  padding: 10px;
  width: 100px;

  &.is-current {
    background: #DDDDDD;
  }
}

.challenge-tab-item__answer-link {
  @extend .challenge-tab-item__link;
}

.challenge-tab-item__cloze-text-link {
  @extend .challenge-tab-item__link;
}

.challenge-tab-item__hints-link {
  @extend .challenge-tab-item__link;
}

.editer-panel {
  background: #EEEEEE;
  box-shadow: inset 0 1px #fff,0 1px 3px rgba(0,0,0,0.5);
  float: left;
  display: block;
  @include rem('height', 210);
  padding: 20px 20px 10px;
  position: relative;
  @include rem('width', 400);

  &.is-hidden {
    display: none;
  }
}

.editer-panel__raw-textarea {
  @include rem('font-size', 14);
  @include rem('width', 394);
  @include rem('height', 130);
}

.editer-panel__footer {
  @include rem('bottom', 14);
  position: absolute;
  @include rem('width', 400);
}

.editer-panel__submit-raw-text-button {
  margin: 0 auto;
}

.cloze-text-panel {
  @extend .editer-panel;
}

.cloze-text-panel__cloze-text {
  @extend .editer-panel__raw-textarea;
}

.cloze-text-panel__footer {
  @extend .editer-panel__footer;
}

.hints-panel {
  @extend .editer-panel;

  .btn {
    margin-bottom: 12px;
  }
}

.hint {
  display: block;
  margin-bottom: 16px;

  .hint__headline {
    font-weight: bold;
    margin-bottom: 4px;
  }

  .hint__word {
    background: white;
    border: 1px solid #333333;
    float: left;
    margin: 4px 10px 4px 0px;
    padding: 4px;
  }

  .hint__correct-text {
    margin: 8px 10px 4px 0px;
    line-height: 18px;
  }

  .clearfix {
    clear: both;
  }
}

.notification {
  display: block;
  background: #361E13;
  border-top: 1px solid #361E13;
  border-bottom: 2px solid #030303;
  bottom: 0;
  cursor: pointer;
  text-align: center;
  left: 0;
  right: 0;
  padding: 12px 12px 18px;
  position: fixed;
  width: 100%;
  z-index: 50;

  h1, p, span {
    margin: 8px;
  }

  .notification-title {
    color: #BBAD90;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .notification-message {
    color: #F7F3DF;
    font-size: 14px;
  }

  .notification-close {
    color: #bbad90;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
}
