$correct-modal-height: 160;
$correct-modal-width: 480;

.correct-modal {
  @extend .modal;

  .popup {
    @include rem('margin-left', (-$correct-modal-width / 2));
    @include rem('margin-top', (-$correct-modal-height / 2));
    @include rem('width', $correct-modal-width);
  }
}

.correct-modal__inner {
  @extend .article-box;
  box-shadow: 0 2px 4px rgba(0,0,0,0.6),0 2px 7px rgba(0,0,0,0.2);
  @include rem('height', $correct-modal-height);
}

.correct-modal__headline {
  @extend .article-box__headline;
  border-bottom: solid 1px #B1AFA0;
  @include rem('padding-bottom', 8);
  text-transform: uppercase;
}

.correct-modal__success-message {
  @include rem('font-size', 16);
  @include rem('padding-top', 24);
  @include rem('padding-bottom', 24);
}

.correct-modal__footer {
  @extend .article-box__footer;
  @include rem('width', $correct-modal-width);
}

.correct-modal__button {
  @extend .article-box__button;
  @include rem('width', 400);
}

.correct-modal__next-challenge-button {
  @extend .correct-modal__button;
}

.correct-modal__information-button {
  @extend .correct-modal__button;
}
