.course-form {
  @extend .article-box;
  @include rem('max-width', 420);
  @include rem('margin-top', 24);
}

.course-form__group {
  @include rem('padding', 12);
  text-align: left;
}

.course-form__label {
  display: block;
  @include rem('font-size', 16);
  @include rem('padding-bottom', 8);
}

.course-form__name-label {
  @extend .course-form__label;
}

.course-form__description-label {
  @extend .course-form__label;
}

.course-form__level-label {
  @extend .course-form__label;
}

.course-form__state-label {
  @extend .course-form__label;
}

.course-form__updatable-label {
  @extend .course-form__label;
}

.course-form__name-form {
  @include rem('font-size', 14);
  width: 100%;
}

.course-form__description-form {
  @include rem('font-size', 14);
  @include rem('height', 40);
  width: 100%;
}

.course-form__create-course-button {
  margin: 20px auto 0;
  margin: 2rem auto 0;
  @include rem('max-width', 394);
}
