.lp-concept {
  @include rem('margin-top', 30);
  @include rem('margin-bottom', 30);
}

.lp-concept__list {
  margin-left: auto;
  margin-right: auto;
  @include rem('width', 700);
}

.lp-concept__item {
  display: block;
  float: left;
  text-align: center;
  @include rem('width', 200);
}

.lp-concept__arrow {
  display: block;
  float: left;
  @include rem('padding-top', 60);
}

.lp-concept__image {
  @include rem('width', 140);
}

.lp-concept__create-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__challenge-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__cycle-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__body {
  color: $main_high_dark_color;
  @include rem('font-size', 14);
  @include rem('margin-top', 20);
  @include rem('margin-bottom', 20);
}

.lp-concept__arrow-image {
  @include rem('width', 50);
}
