.lp-concept__inner {
  @include rem('padding-top', 30);
  @include rem('padding-bottom', 20);
}

.lp-concept__creater {
  @extend .lp-concept__inner;
}

.lp-concept__answerer {
  @extend .lp-concept__inner;
  background: $light_pale_color;
}

.lp-concept__headline {
  color: $main_low_dark_color;
  @include rem('font-size', 16);
  font-weight: bold;
  text-align: center;
  @include rem('margin-bottom', 20);
}

.lp-concept__list {
  margin-left: auto;
  margin-right: auto;
  @include rem('width', 720);

  @media screen and (max-width: $lp_break_small) {
    width: 100%;
  }
}

.lp-concept__item {
  display: block;
  float: left;
  text-align: center;
  @include rem('width', 200);

  @media screen and (max-width: $lp_break_small) {
    width: 100%;
  }
}

.lp-concept__arrow {
  display: block;
  float: left;
  @include rem('padding-top', 60);

  @media screen and (max-width: $lp_break_small) {
    display: none;
  }
}

.lp-concept__image {
  @include rem('width', 140);
}

.lp-concept__create-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__challenge-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__cycle-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__search-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__answer-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__comment-phaze-image {
  @extend .lp-concept__image;
}

.lp-concept__arrow-image {
  @include rem('width', 50);
}

.lp-concept__body {
  color: $main_high_dark_color;
  @include rem('font-size', 14);
  @include rem('margin-top', 16);
  @include rem('margin-bottom', 24);
}

.lp-concept__note {
  color: $main_high_dark_color;
  @include rem('font-size', 13);
  margin: 0 auto;
  @include rem('line-height', 24);
  @include rem('padding-left', 12);
  @include rem('padding-right', 12);
  text-align: center;
  @include rem('max-width', 460);
}

.lp-concept__sign-in-link {
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

.lp-concept__course-list-button {
  @extend .btn;
  @include rem('margin-bottom', 10);
}
