.lp-header {
  background: $main_high_dark_color;
  @include rem('height', 240);
  @include rem('padding-top', 144);
  position: relative;
  text-align: center;

  .lp-header__site-title {
    @include rem('font-size', 42);

    a {
      color: $main_low_light_color;
      text-decoration: none;
    }
  }

  .lp-header__site-read-line {
    color: $main_high_light_color;
    @include rem('font-size', 18);
    @include rem('padding-top', 10);
  }
}
