.main {
  margin: auto;
}

.main__title {
  background: $main_medium_color;
  color: $main_high_light_color;
  @include rem('font-size', 32);
  font-weight: bold;
  @include rem('line-height', 80);
  @include rem('padding-left', 24);
}

.main__notice {
  background: $main_high_dark_color;
  color: $main_high_light_color;
  cursor: pointer;
  @include rem('font-size', 14);
  font-weight: bold;
  @include rem('line-height', 30);
  @include rem('padding-left', 24);
  @include transition-duration(0.3s);
  width: 100%;
}

.main__close-mark {
  @include rem('margin-right', 10);
  vertical-align: middle;
  @include rem('width', 16);
}

.main-container {
  background: $main_high_light_color;
  @include rem('margin-left', $sidebar_width);
  height: 100%;
  position: relative;
}

.sidebar-container {
  background: $main_high_dark_color;
  float: left;
  height: 100%;
  display: block;
}
