.main {
  margin: auto;
}

.main__title {
  background: $main_medium_color;
  color: $main_high_light_color;
  @include rem('font-size', 32);
  font-weight: bold;
  @include rem('line-height', 80);
  @include rem('padding-left', 24);
}
