$white_color: #FFFFFF;
$main_high_light_color: #F6F6F9;
$main_low_light_color: #90D3E9;
$main_medium_color: #3A9CBD;
$main_low_dark_color: #0A6381;
$main_high_dark_color: #014258;
$sub_low_light_color: #FFAA9A;
$sub_medium_color: #FF6447;
$sub_low_dark_color: #CE2708;
$light_pale_color: #E4EAEB;
$grayish_lightest_color: #EDEEEF;
$grayish_lighter_color: #E0E2E3;
$grayish_medium_light_color: #D1D6D8;
$grayish_medium_dark_color: #9A9E9F;
$grayish_darkest_color: #112D37;
