$white_color: #FFFFFF;
$gray_color: rgba(60,74,96,0.5);
$main_high_light_color: #F6F6F9;
$main_low_light_color: #90D3E9;
$main_medium_color: #3A9CBD;
$main_low_dark_color: #0A6381;
$main_high_dark_color: #014258;
$sub_low_light_color: #FFAA9A;
$sub_medium_color: #FF6447;
$sub_low_dark_color: #CE2708;
$light_pale_color: #E4EAEB;
$grayish_light_color: #9A9E9F;
$grayish_dark_color: #112D37;
