.lp-header
  .lp-header__site-title
    %h1
      %a ScrambledEng
  .lp-header__site-read-line
    %h2 For Japanese who learn English.

%section.course-index-list
  %h1
    Learn where to start.
  - @courses.each do |course|
    %article.course-index-item{ id: "course_#{course.id}" }
      = link_to course.name, course, class: 'course-index-item__name'
