%h1.main__title Course List

%section.courses
  %ul.courses__list
    - @courses.each do |course|
      %li.courses__item{ id: "course_#{course.id}" }
        = link_to course.name, course, class: 'courses__course-name'
