.lp-header
  .lp-header__site-title
    %h1
      %a ScrambledEng
  .lp-header__site-read-line
    %h2 For Japanese who learn English.

%section.course-list
  - @courses.each do |course|
    %article.course-item{ course_id: course.id }
      .course-name
        = link_to course.name, course, class: 'course-link'
