%h1.main__title Management Course

.course-management
  .course-management__new-challenge-button.btn
    Create Challenge

  .course-management__flex-group
    %section.course-management__challenge-list
      - @course.challenges.each do |challenge|
        %article.course-management__challenge-item
          .course-management__challenge-number= "#{challenge.sequence_number}"
          %p.course-management__challenge-ja-text= challenge.ja_text
          .course-management__link-group
            = link_to 'Edit', edit_course_challenge_path(challenge, course_id: @course), class: 'course-management__challenge-edit-link'
            %a.course-management__challenge-delete-link
              Delete
