- content_for :header_item_nav do
  = render partial: 'shared/header_management_item', locals: { course: @course }

%h1.main__title Edit Challenge

= render partial: 'form', locals: { challenge: @challenge }
