- content_for :header_item_nav do
  = render partial: 'shared/header_management_item', locals: { course: @course }

%h1.main__title New Challenge

.course-management
  = render partial: 'shared/management_nav', locals: { course: @course, current_item: :create_challenge }

= render partial: 'form', locals: { challenge: @challenge }
