// ColorScheme
$main_bg_color: white;
$link_color: blue;

// Mixin
@mixin text-size-adjust($size) {
  text-size-adjust: $size;
  -moz-text-size-adjust: $size;
  -ms-text-size-adjust: $size;
  -o-text-size-adjust: $size;
  -webkit-text-size-adjust: $size;
}

@mixin background-oblique-stripe($base_color, $sub_color, $size) {
  background-image: -moz-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: -o-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: -webkit-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-size: $size $size;
}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  line-height: 1.6;
  font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  @include text-size-adjust(100%);
}

body {
  display: block;
  min-width: 960px;
  height: 100%;
  margin: auto;
  background-color: $main_bg_color;
  font-size: 14px;
}

a {
  color: $link_color;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $link_color;
  text-decoration: underline;
}

// Block__Element
.header {
  width: 100%;
  height: 40px;
  @include background_oblique_stripe(#F0F0F0, #E0E0E0, 40px);
}

.header__cell {
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  position: relative;
}

.header__box {
  float: left;
}

.header__logo-box {
  @extend .header__box;
  width: 25%;
}

.header__nav-box {
  @extend .header__box;
  width: 75%;
}

.header__item {
  line-height: 40px;
}

.header__nav-list {
  float: right;
}

.header__nav-list-item {
  float: left;
  margin-right: 2.5em;
}

.main {
  height: 100%;
  margin: auto;
}

.sidebar {
  float: left;
  width: 240px;
  height: 100%;
  border-right: 1px solid #9E9E9E;
  display: block;
}

.sidebar__course-name {
  background: #999999;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.sidebar__item-link {
  border-bottom: 1px solid #9E9E9E;
  display: block;
  font-size: 14px;
  padding: 12px 15px;
}

.challenge-view {
  float: left;
  width: 960px;
  height: 100%;
  position: relative;
  display: block;
}

.challenge-view__box {
  margin: 20px 20px 10px;
}

.challenge {
  @extend .challenge-view__box;

  h1, p {
    margin: 8px;
  }

  .challenge__title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
  }

  .challenge__ja-text {
    font-size: 18px;
  }
}

.challenge-panel {
  @extend .challenge-view__box;
}

.challenge-tab-group {
  float: left;
  width: 440px;
}

.challenge-tab-item {
  background: #CCCCCC;
  box-shadow: inset 0 1px #fff,0 1px 3px rgba(0,0,0,0.5);
  float: left;
  display: block;
  padding: 10px;
  width: 100px;
}

.challenge-panel-block {
  background: #EEEEEE;
  box-shadow: inset 0 1px #fff,0 1px 3px rgba(0,0,0,0.5);
  float: left;
  display: block;
  padding: 20px 20px 10px;
  width: 400px;
  height: 310px;
}

.editer-panel {
  @extend .challenge-panel-block;
}

.editer-panel-footer {
  padding: 7px 5px;

  .btn {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255,255,255,0.3),inset 0 0 0 1px rgba(255,255,255,0.2),0 1px 3px rgba(0,0,0,0.7);
    display: block;
    padding: 14px 0;
    text-align: center;
  }
}

.challenge-panel__raw-textarea {
  width: 394px;
  font-size: 14px;
}

.editer-panel__raw-textarea {
  @extend .challenge-panel__raw-textarea;
  height: 16em;
}

.hidden-text-panel {
  @extend .challenge-panel-block;
}

.hidden-text-panel__hidden-text {
  @extend .challenge-panel__raw-textarea;
  height: 20em;
}

.challenge-view__notification {
  display: block;
  background: #361E13;
  border-top: 1px solid #361E13;
  border-bottom: 2px solid #030303;
  bottom: 0;
  cursor: pointer;
  text-align: center;
  left: 0;
  right: 0;
  padding: 12px 12px 18px;
  position: fixed;
  width: 100%;
  z-index: 50;

  h1, p, span {
    margin: 8px;
  }

  .notification-title {
    color: #BBAD90;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .notification-message {
    color: #F7F3DF;
    font-size: 14px;
  }

  .notification-close {
    color: #bbad90;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.popup {
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.6),0 2px 7px rgba(0,0,0,0.2);
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 100;
}

.overlay {
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 50;
}

.correct-view {
  padding: 5px;
  width: 500px;

  a, h1, p {
    margin: 8px;
    text-align: center;
  }

  .correct-view__title {
    border-bottom: 1px solid #B1AFA0;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  .correct-view__success-message {
    font-size: 14px;
    padding: 8px 0;
  }

  .btn {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(255,255,255,0.3),inset 0 0 0 1px rgba(255,255,255,0.2),0 1px 3px rgba(0,0,0,0.7);
    display: block;
    padding: 14px 0;
    text-align: center;
  }
}
