// ColorScheme
$main_bg_color: white;
$link_color: blue;

// Mixin
@mixin text-size-adjust($size) {
  text-size-adjust: $size;
  -moz-text-size-adjust: $size;
  -ms-text-size-adjust: $size;
  -o-text-size-adjust: $size;
  -webkit-text-size-adjust: $size;
}

@mixin background-oblique-stripe($base_color, $sub_color, $size) {
  background-image: -moz-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: -o-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: -webkit-linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-image: linear-gradient(-45deg, $base_color 25%, $sub_color 25%, $sub_color 50%, $base_color 50%, $base_color 75%, $sub_color 75%, $sub_color);
  background-size: $size $size;
}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  line-height: 1.6;
  font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  @include text-size-adjust(100%);
}

body {
  display: block;
  min-width: 960px;
  height: 100%;
  margin: auto;
  background-color: $main_bg_color;
  font-size: 16px;
}

a {
  color: $link_color;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $link_color;
  text-decoration: underline;
}

// Block__Element
.header {
  width: 100%;
  height: 40px;
  @include background_oblique_stripe(#F0F0F0, #E0E0E0, 40px);
}

.header__cell {
  margin-left: auto;
  margin-right: auto;
  max-width: 75em;
  position: relative;
}

.header__box {
  float: left;
}

.header__logo-box {
  @extend .header__box;
  width: 25%;
}

.header__nav-box {
  @extend .header__box;
  width: 75%;
}

.header__item {
  line-height: 40px;
}

.header__nav-list {
  float: right;
}

.header__nav-list-item {
  float: left;
  margin-right: 2.5em;
}
