$challenge_panel_width: 420;

.challenge-panel {
  background: #EEEEEE;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  float: left;
  display: block;
  @include rem('height', 210);
  padding: 20px 20px 10px;
  position: relative;
  @include rem('width', $challenge_panel_width);

  &.is-hidden {
    display: none;
  }
}

.challenge-panel__body {
  @include rem('font-size', 16);
  @include rem('height', 130);
  @include rem('width', $challenge_panel_width);
}

.challenge-panel__footer {
  @include rem('bottom', 14);
  position: absolute;
  @include rem('width', $challenge_panel_width);
}

// Panel Tab
.challenge__panel-tab-group {
  float: left;
  @include rem('width', $challenge_panel_width + 40);
}
