html {
  font-family: 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
  font-size: 62.5%;
  line-height: 1;
  @include text-size-adjust(100%);
}

body {
  background-color: $main_high_light_color;
  display: block;
  @include rem('font-size', 16);
  height: 100%;
  margin: auto;
}

a {
  color: $link_color;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}
